.h1 {
  font-family: 'Roboto';
  font-size: 200px;
  font-weight: bolder;
  color: #272727;
  width: 400px; }

.buton1 {
  background-color: #E9E927;
  width: 100%;
  height: 150px;
  color: #272727;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  border: none;
  padding: 10px;
  margin: 10px; }

.buton2 {
  background-color: white;
  width: 100%;
  height: 150px;
  color: #272727;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  border: #272727 solid 3px;
  padding: 10px;
  margin: 10px; }

.buton3 {
  background-color: #272727;
  width: 100%;
  height: 150px;
  color: white;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  border: none;
  padding: 10px;
  margin: 10px; }

.buton4 {
  background-color: #CC0000;
  width: 100%;
  height: 150px;
  color: white;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  border: none;
  padding: 10px;
  margin: 10px; }

.square {
  background-color: #272727;
  color: white;
  font-family: 'Roboto';
  height: 300px; }

.input [type=email] {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #272727;
  border-radius: 50px;
  box-sizing: border-box; }

.input [type=submit] {
  width: 50px;
  background-color: #272727;
  color: white;
  border: 1px solid white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 50px;
  cursor: pointer; }
  .input [type=submit]:hover {
    background-color: #ffffff;
    color: #272727;
    border: solid 2px #272727; }

.h7 {
  font-family: 'Roboto'; }

.h4 {
  font-family: 'Roboto'; }

@media screen and (max-width: 600px) {
  .square {
    width: 100%; }
  .button1 {
    width: 90%; }
  .button2 {
    width: 90%; }
  .button3 {
    width: 90%; }
  .button4 {
    width: 90%; }
  .input [type=email] {
    width: 300px; }
  .h7 {
    width: 80%;
    text-align: center; }
  .h4 {
    width: 80%;
    text-align: center; } }
