.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
.form {
    width: 300px;
    height: 300px;
  }
.form-group label {
    font-family: 'Roboto';
    font-size: 20px;
}
.form-group {

[type=password] {
    border: 2px solid rgb(39, 39, 39);
}
[type=text] {
    border: 2px solid rgb(39, 39, 39);
}
}